[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EcoNetGen"]
	path = EcoNetGen
	url = https://github.com/cboettig/econetgen
[submodule "codemeta"]
	path = codemeta
	url = https://github.com/cboettig/codemeta
[submodule "contentid"]
	path = contentid
	url = https://github.com/cboettig/contentid
[submodule "knitcitations"]
	path = knitcitations
	url = https://github.com/cboettig/knitcitations
[submodule "minioclient"]
	path = minioclient
	url = https://github.com/cboettig/minioclient
[submodule "neonstore"]
	path = neonstore
	url = https://github.com/cboettig/neonstore
[submodule "pmc"]
	path = pmc
	url = https://github.com/cboettig/pmc
[submodule "taxalight"]
	path = taxalight
	url = https://github.com/cboettig/taxalight
