[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "contentid"]
	path = contentid
	url = https://github.com/cboettig/contentid
	shallow = true
	registered = true
[submodule "EcoNetGen"]
	path = EcoNetGen
	url = https://github.com/cboettig/econetgen
	shallow = true
	registered = true
[submodule "knitcitations"]
	path = knitcitations
	url = https://github.com/cboettig/knitcitations
	shallow = true
	registered = true
[submodule "pmc"]
	path = pmc
	url = https://github.com/cboettig/pmc
	shallow = true
	registered = true
[submodule "taxalight"]
	path = taxalight
	url = https://github.com/cboettig/taxalight
	shallow = true
	registered = true
